/* header -------------------------- */
header {
    padding: 104px 0;
    background: url(../images/header-tre.jpg) no-repeat 50% 50%;
    font: 24px/36px $fontCaption;
    color: $white;
    @include bgsize;
    @include sizing;
    h1 {
        font-size: 60px;
        line-height: 60px;
        font-weight: $f-medium;
        margin-bottom: 38px;
        span {
            font-weight: $f-extra-light;
        }
    }
    .buttons-wrapper {
        padding-top: 53px;
        .button-stripe {
            margin-left: 14px;
        }
    }
}
.iphone {
    float: right;
    margin-right: 60px;
    margin-left: 20px;
    position: relative;
}
.iphone__body {
    width: 250px;
    height: auto;
    position: relative;
    z-index: 20;
}
// Make sure the screenshot is 442px x 778px
.iphone__screenshot {
    width: 221px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 15px;
    z-index: 10;
}
.header-wrapper {
    padding-top: 87px;
    max-width: 655px
}